<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  
  
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 1.5707 0 3.1415 crazyflie/base_link camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 odom world 100" />   

  
  <!-- Rectify image -->
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera"/>
  <group ns="crazyflie">
  <!-- ############################### LOCALIZATION ################################# --> 
  <!-- AprilTags -->
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <remap from="image_rect" to="/camera/image_mono" />
    <remap from="camera_info" to="/camera/camera_info" />
    <remap from="tag_pose" to="apriltag/pose" />
    <param name="projected_optics" type="bool" value="false" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[ {id: 1, size: 0.05}] </rosparam>
  </node>
    <!-- Optical flow -->
  <node name="optical_flow" type="continuous_homography_node" pkg="labrom_optical_flow" args="/home/active/catkin_ws/src/labrom_mav/labrom_mav_demos/params/crazyflie_camera_calibration.yaml" output="screen">
     <!-- Topics -->
     <remap from="camera/image_raw" to="/camera/image_mono"/>
     <remap from="external/odometry" to="odometry"/>
     <!-- Parameters -->
     <rosparam file="$(find labrom_optical_flow)/params/optical_flow.yaml" />
  </node>
  
   <!-- ############################### DATA FUSION ################################# --> 
   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" output="screen" clear_params="true">
     <!--  Placeholder for output topic remapping -->
     <remap from="odometry/filtered" to="ekf/odometry"/>
     <rosparam command="load" file="$(find labrom_mav_demos)/params/crazyflie_ekf.yaml" />
   </node>
    
  
  </group>
  
  
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="720" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="uyvy" />
     <param name="framerate" value="30" />
    <param name="camera_frame_id" value="camera_link" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>   
    <param name="camera_info_url" value="file:///home/active/calibration/crazy_camera_usbcam.yaml" />     
  </node>
       
</launch>

