<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <group ns="fcu">
  <!-- Manager (state machine) -->
  <include file="$(find labrom_mav_manager)/launch/mav_manager.launch">
      <arg name="mass" value="1.63" />
      <arg name="take_off_timeout" value="3.0" />
      <arg name="landing_accel" value="8.0" />
      <arg name="loop_rate" value="20.0" />
      <arg name="control_params" value="/home/odroid/catkin_ws/src/labrom_mav/labrom_mav_control/params/pelican.yaml" />
  </include>


  <!-- Pelican interface -->
  <node name="pelican_interface" pkg="labrom_mav_interface" type="pelican_node">
  </node>


  <!-- Joystick
  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>-->

  <node name="joy_interface" pkg="labrom_mav_interface" type="joy_node" output="screen">
  </node>

  </group>

  <!-- Pelicano -->
  <node name="fcu" pkg="asctec_hl_interface" type="hl_node" output="screen" clear_params="true">
      <rosparam file="$(find asctec_hl_interface)/launch/fcu_parameters.yaml" />
      <rosparam file="$(find asctec_hl_interface)/launch/ssdk_parameters.yaml" />
  </node>
</launch>
