<launch>
<group ns="mav">
  <node name="manager" pkg="labrom_mav_manager" type="manager_node" output="screen"/>
  <param name="take_off_accel" value="10.0" />
  <param name="climb_time" value="1" />
  <param name="descend_accel" value="9.5" />
  <param name="hit_ground_accel" value="11.0" />
        
  <param name="feedforward" value="35"/>
  <param name="max_thrust" value="65"/>
  <param name="loop_rate" value="20"/>
</group>

<group ns="blind">
	<node name="takeoff" pkg="labrom_mav_manager" type="take_off_node" output="screen">
  	<!-- Remaps
    <remap from="/imu" to="/fcu/imu"/>
    -->
  </node>
  <node name="landing" pkg="labrom_mav_manager" type="landing_node" output="screen">
    <!-- Remaps
    <remap from="/imu" to="/fcu/imu"/>
    -->
  </node>
</group>

</launch>
