<launch>
	<!-- STATIC TRANSFORMS 	-->
  <node pkg="tf" type="static_transform_publisher" name="base_imu_transform" args="0 0 0 0 0 3.1416 base_link imu_link 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_camera_transform" args="0 0 0 -1.5708 0 3.1416 base_link camera_link 1000"/>


	<!-- PERCEPTION NODES -->
  <node name="OpticalFlow" type="continuous_homography_node" pkg="labrom_optical_flow" output="screen">
    <rosparam file="$(find labrom_optical_flow)/params/vrep.yaml" />
  </node>


  <node name="LKImageViewer" type="rqt_image_view" pkg="rqt_image_view" />


	<!-- FILTERING -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" clear_params="true">
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/ekf_odom.yaml" />
		<remap from="odometry/filtered" to="odometry/drift"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/ekf_landmark.yaml" />
		<remap from="odometry/filtered" to="odometry/global"/>
  </node>

	<!-- -->
</launch>

