<launch>
  <arg name="robot_name" value="fcu" />
  
	<!-- ######################## STATIC TRANSFORMS ##########################	-->
  <node pkg="tf" type="static_transform_publisher" name="base_imu_transform" args="0 0 0 0 0 0 base_link imu_link 1000" ns="tf"/>
  <node pkg="tf" type="static_transform_publisher" name="base_camera_transform" args="0 0 -0.06 -1.5708 0 3.1416 base_link camera_link 1000" ns="tf" />
  <node pkg="tf" type="static_transform_publisher" name="world_tag_0_transform" args="0 0 0 0 0 0 tag_0 world 1000" ns="tf"/>



	<!-- ######################## IMAGE PROC ######################## -->
  <node name="image_proc" pkg="labrom_sensors" type="image_proc_node">
    <remap from="/image_raw/compressed" to="/$(arg robot_name)/camera/image_raw/compressed"/>
    <remap from="/image_proc/image_mono" to="/$(arg robot_name)/camera/image_mono"/>

    <param name="image_transport" value="compressed"/>
    <param name="encoding" value="rgb8"/>
  </node>

	<!-- ######################## PERCEPTION NODES ######################## -->
	<!-- ************ OPTICAL FLOW ************ -->
  <node name="optical_flow" type="continuous_homography_node" pkg="labrom_optical_flow" output="screen">
    <rosparam file="$(find labrom_mav_state_estimation)/params/pelican/optical_flow.yaml" />
   		<remap from="/image_mono" to="/$(arg robot_name)/camera/image_mono"/>
		  <remap from="/imu"   to="/$(arg robot_name)/imu"/>
		  <remap from="/odometry"  to="/odometry/ekf_world"/>   
  </node>

  <!-- ************ APRILTAGS ************ -->
	<node pkg="apriltags_ros" type="apriltag_detector_node" name="detector" output="screen" ns="apriltag">
    <!-- Remap topics -->
    <remap from="image_rect" to="/$(arg robot_name)/camera/image_mono"/>
    <remap from="tag_detections_image" to="image"/>
    <remap from="tag_detections_pose_covariance" to="pose"/>    

		<!-- Parameters --> 
    <rosparam  command="load" file="$(find labrom_mav_state_estimation)/params/pelican/april_tags.yaml" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.16351}
    ]</rosparam>
	</node>

	<!-- ######################## FILTERING ######################## -->
  <node pkg="robot_localization" type="ekf_localization_node" name="odom" clear_params="true" ns="ekf">
		<!-- remap -->
		<remap from="/odom0" to ="/optical_flow/odometry"/>
		<remap from="/imu0"  to ="/$(arg robot_name)/imu"/>
		<remap from="odometry/filtered" to="/odometry/ekf_odom"/>
		<!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/pelican/ekf_odom.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="world" clear_params="true" ns="ekf">
		<!-- remap -->
		<remap from="/odom0" to="/odometry/ekf_odom"/>
		<remap from="/pose0" to="/apriltag/pose"/>
		<remap from="odometry/filtered" to="/odometry/ekf_world"/>
	  <!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/pelican/ekf_landmark.yaml" />
  </node>

</launch>

