<launch>
	<!-- ######################## STATIC TRANSFORMS ##########################	
  <node pkg="tf" type="static_transform_publisher" name="base_imu_transform" args="0 0 0 -0.7854 0 3.1416 fcu camera 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="world_tag_0_transform" args="0 0 0 0 0 0 tag_0 world 1000"/>-->
	<!-- ######################## PERCEPTION NODES ######################## -->
	<!-- ************ OPTICAL FLOW ************ -->
  <node name="optical_flow" type="continuous_homography_node" pkg="labrom_optical_flow" output="screen">
		<!-- PArameters -->       
		<rosparam file="$(find labrom_mav_state_estimation)/params/philips/optical_flow.yaml" />
		<!-- Remap topics -->
  	 <remap from="/image" to="/camera/image_mono"/>
     <remap from="/imu" to="/fcu/imu" />
		 <remap from="/odometry" to="/odometry/ekf_world"/>
  </node>

  <!-- ************ APRILTAGS ************ -->
	<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topics -->
    <remap from="/tag_detections_pose_covariance" to="/apriltag/pose"/>
    <remap from="/image_rect" to="/camera/image_mono"/>
		<!-- Parameters --> 
    <rosparam  command="load" file="$(find labrom_mav_state_estimation)/params/philips/april_tags.yaml" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.154}
    ]</rosparam>
	</node>

	<!-- ######################## FILTERING ######################## -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" clear_params="true" output="screen">
		<!-- remap -->
		<remap from="/odom0" to ="/optical_flow/odometry"/>
		<remap from="/imu0" to ="/fcu/imu"/>
		<remap from="/odometry/filtered" to="/odometry/ekf_odom"/>
		<!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/philips/ekf_odom.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
		<!-- remap -->
		<remap from="/odom0" to="/odometry/ekf_odom"/>
		<remap from="/pose0" to="/apriltag/pose"/>
		<remap from="/pose1" to="/apriltag/pose"/>
		<remap from="odometry/filtered" to="odometry/ekf_world"/>
	  <!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/philips/ekf_landmark.yaml" />
  </node>


	<!-- VISUALIZATION TOOLS 
	<node pkg="rqt_gui" type="rqt_gui" name="gui"/>
	<node pkg="rviz" type="rviz" name="rviz"/>-->
</launch>

