<launch>
	<!-- ######################## STATIC TRANSFORMS ##########################	-->
  <node pkg="tf" type="static_transform_publisher" name="base_imu_transform" args="0 0 0 0 0 0 base_link imu_link 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_camera_transform" args="0 0 -0.06 -1.5708 0 3.1416 base_link camera_link 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="world_tag_0_transform" args="0 0 0 0 0 0 tag_0 world 1000"/>
<!--
  <node pkg="tf" type="static_transform_publisher" name="world_enu_transform" args="0 0 0 0 0 3.1416 base_link enu 1000"/>
-->
	<!-- VREP heartbeat message -->
  <node name="heartbeat" type="heartbeat_node" pkg="vrep" output="screen"/>

	<!-- ######################## PERCEPTION NODES ######################## -->
	<!-- ************ OPTICAL FLOW ************ -->
  <node name="optical_flow" type="continuous_homography_node" pkg="labrom_optical_flow" output="screen">
		<!-- PArameters -->       
		<rosparam file="$(find labrom_mav_state_estimation)/params/vrep/optical_flow.yaml" />
		<!-- Remap topics -->
		<remap from="/image" to="/vrep/image"/>
		<remap from="/imu"   to="/vrep/imu"/>
		<remap from="/odometry"  to="/odometry/ekf_world"/>
  </node>

  <!-- ************ APRILTAGS ************ -->
	<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topics -->
    <remap from="/tag_detections_pose_covariance" to="/apriltag/pose"/>
    <remap from="/image_rect" to="/vrep/image"/>
		<!-- Parameters --> 
    <rosparam  command="load" file="$(find labrom_mav_state_estimation)/params/vrep/april_tags.yaml" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.16351}
    ]</rosparam>
	</node>

	<!-- ######################## FILTERING ######################## -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" clear_params="true" output="screen">
		<!-- remap -->
		<remap from="/odom0" to ="/optical_flow/odometry"/>
		<remap from="/imu0"  to ="/vrep/imu"/>
		<remap from="/odometry/filtered" to="/odometry/ekf_odom"/>
		<!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/vrep/ekf_odom.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
		<!-- remap -->
		<remap from="/odom0" to="/odometry/ekf_odom"/>
		<remap from="/pose0" to="/apriltag/pose"/>
		<remap from="odometry/filtered" to="odometry/ekf_world"/>
	  <!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/vrep/ekf_landmark.yaml" />
  </node>

	<!-- VISUALIZATION TOOLS -->
	<node pkg="rqt_gui" type="rqt_gui" name="gui"/>
</launch>

