<launch>

	<!-- VREP heartbeat message -->
  <node name="heartbeat" type="heartbeat_node" pkg="vrep"/>

	<!-- ######################## IMAGE PROC ######################## -->
  <node name="image_proc" pkg="labrom_sensors" type="image_proc_node" output="screen">
    <remap from="/image_raw" to="/vrep/camera/image_raw"/>
    <remap from="/image_proc/image_mono" to="/vrep/camera/image_mono"/>

    <param name="image_transport" value="raw"/>
    <param name="encoding" value="rgb8"/>
  </node>

	<!-- ######################## PERCEPTION NODES ######################## -->
	<!-- ************ OPTICAL FLOW ************ -->
  <node name="optical_flow" type="continuous_homography_node" pkg="labrom_optical_flow" output="screen">
    <rosparam file="$(find labrom_mav_state_estimation)/params/vrep/optical_flow.yaml" />
   		<remap from="/image_mono" to="/vrep/camera/image_mono"/>
		  <remap from="/imu"   to="/vrep/imu"/>
		  <remap from="/odometry"  to="/odometry/ekf_world"/>   
  </node>

  <!-- ************ APRILTAGS ************ -->
	<node pkg="apriltags_ros" type="apriltag_detector_node" name="detector" output="screen" ns="apriltag">
    <!-- Remap topics -->
    <remap from="image_rect" to="/vrep/camera/image_mono"/>
    <remap from="tag_detections_image" to="image"/>
    <remap from="tag_detections_pose_covariance" to="pose"/>    

		<!-- Parameters --> 
    <rosparam  command="load" file="$(find labrom_mav_state_estimation)/params/vrep/april_tags.yaml" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.16351}
    ]</rosparam>
	</node>

	<!-- ######################## FILTERING ######################## -->
  <node pkg="robot_localization" type="ekf_localization_node" name="odom" clear_params="true" ns="ekf">
		<!-- remap -->
		<remap from="/odom0" to ="/optical_flow/odometry"/>
		<remap from="/imu0"  to ="/vrep/imu"/>
		<remap from="odometry/filtered" to="/odometry/ekf_odom"/>
		<!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/vrep/ekf_odom.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="world" clear_params="true" ns="ekf">
		<!-- remap -->
		<remap from="/odom0" to="/odometry/ekf_odom"/>
		<remap from="/pose0" to="/apriltag/pose"/>
		<remap from="odometry/filtered" to="/odometry/ekf_world"/>
	  <!-- Parameters --> 
    <rosparam command="load" file="$(find labrom_mav_state_estimation)/params/vrep/ekf_landmark.yaml" />
  </node>

</launch>

