<launch>    
    <node name="control_manager" pkg="labrom_mav_control" type="pose_node" output="screen">
      <!-- Remapping topics-->
      <remap from="cmd_attitude" to="/vrep/cmd_attitude"/>
      <remap from="cmd_thrust" to="/vrep/cmd_thrust"/>    
      <remap from="odometry" to="/vrep/odometry"/>   
      <remap from="goal" to="/vrep/goal"/>

      <!-- Loading parameters -->  
      <rosparam command="load" file="$(find labrom_mav_control)/params/vrep.yaml"/>
    </node>
</launch>
